a@{

    ViewBag.Title = "People";

};
<form method="post">
    <input type="text" name="?Name" value="" Placeholder="PeopleName">
    <input type="text" name="?Name" value="" Placeholder="PeopleCity">
    <input  type="submit" value="Add People" />
</form>