@{
    ViewData["Title"] = "fever";
}
<div>
    <h2>Check if you have fever</h2>
    <form asp-controller="Home" asp-action="Fcheck" method="post">
        <input name="temprature" id="temprature" type="number" min="35" max="41" placeholder="insert " />
     

    </form>
    <h3>@ViewBag.msg</h3>
    <!--
        Gör formulär där man skriver in sin temperatur och då kollar den så den inte är under 35 eller över 41
        och skickar sedan värdet till Temperatur!-->

    </div>
