
@{
    ViewData["Title"] = "Index";
}

<div>
    <p><h4>About me</h4></p>
    <p>
        I´m 43 year´s old and live in Rävemåla, but was born<br />
        in Malmö. I like sport and was active in a lot of sport before<br />
        But now I dont do any sport more.
    </p>
</div>