
@{
    ViewData["Title"] = "People";
}
<div classs="row">
    <div class="col-10">
        @if (ViewBag.createfail != null)
        {
            {
                <div class="row">@ViewBag.CreateFail</div>
            }
            <div class="row">
                <div class="col">Name:<input type="text" id="CrName" name="CrName" /> </div>
                <div class="col">City:<input type="text" id="CrCity" name="CrCity" /></div>
                <div class="col">Birth place <input type="text" id="CrPlace" name="CrPlace" /></div>
                <button class="btn-btn-info" onclick="LinkCreate('@Url.Action("People", "addPeople")')">Add</button>
            </div>


        }

    </div>



</div>