
@{
    ViewData["Title"] = "hockey";
}

<div>
    <p><h4>Sledge Hockey</h4></p>
    <p>
        Since its debut at the Lillehammer 1994 Winter Games,<br />
        the Paralympic version of ice hockey has quickly become one of the largest<br />
        attractions for spectators. It is fast-paced, highly physical and played <br />
        by male and female athletes with a physical impairment in the lower part of the body.<br />
        The sport is governed by the IPC with co-ordination by the World Para Ice Hockey Technical Committee.
    </p>
</div>