<div class="row">
    <div class="col-10">
        @if (ViewBag.createFail)
        {
            <div class="row">@ViewBag.Creatfail</div>
        }
        <div class="row">
            <div class="col">Name:</div><input class="text" id="CrName" name="CrName" />
        </div>
        <div class="col">Adress:</div><input class="text" id="CrAdress" name="CrAdress" />
    </div>
</div>
<div class="col">
    <button class="btn btn-succes" onclick="LinkCreate('@Url.Action("Create","People")')">Create People</button>

</div>



